.loginButton {
  background-color: #1db954;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.loginButton:hover {
  background-color: #16803a;
}
